# Dependency directories
node_modules/

# Build output
build/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.*.local

# npm package lock files
package-lock.json
yarn.lock

# Optional: local IDE settings
.vscode/
.idea/

# Optional: temporary files
*.tmp
*.swp
*.swo

# Miscellaneous
*.DS_Store
*.sublime-workspace
*.sublime-project
